<mat-drawer-container class="container" [ngStyle]="drawerContainerStyle()">
  <mat-drawer class="sidenav" mode="side" opened="true" [ngStyle]="drawerStyle()">
    <ul class="sidenav-items" [ngStyle]="listStyle()">
      
      <li *ngFor="let item of sidenavService.navItems"
          (click)="navigateTo(item)"
          (mouseenter)="onListItemEnter(item)"
          (mouseleave)="onListItemLeave()"
          class="sidenav-item">

        <div [ngStyle]="iconStyle(item)" class="sidenav-icon"></div>
        <span [ngStyle]="labelStyle(item)" class="sidenav-label">
          {{item.label}}
          </span>

      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content [ngStyle]="sidenavContentStyle()">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
